@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#LatRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22_corinthia.woff') format('woff'),
         url('../fonts/p22_corinthia.ttf') format('truetype'),
         url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
    

    
}


/* .......................................css reset .......................................*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {
    overflow: auto;
}

.bold{font-weight:700}







/* .......................................slider css start .......................................*/
.slider {
margin-top:-90px;
  height: 550px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 1rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



.slider__nav:checked {
  -webkit-animation: check 0.5s linear forwards;
  animation: check 0.5s linear forwards;
}

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  -webkit-transform: translateX(-75%);
  transform: translateX(-75%);
}






.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider__image { font-size: 2.7rem; }

.slider__caption {
  font-weight: 700;
  margin: 2rem 0 1rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.slider__txt {
  color: #999;
  margin-bottom: 0.6rem;
  max-width: 400px;
}

.slider__txt2 {
  color: #999;
    margin-top: 1rem;
        margin-bottom: 1rem;
  max-width: 400px;
}

 @-webkit-keyframes 
check {  50% {
 outline-color: #333;
 box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
}
 100% {
 outline-color: #333;
 box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
}
}
 @keyframes 
check {  50% {
 outline-color: #333;
 box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
}
 100% {
 outline-color: #333;
 box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
}
}

.slidelink1 a, .slidelink1{
color:black;
}

.slidelink1{
margin-top:20px;
}

.slider img{
margin-top:0px;
width: 60%;
min-width:300px;
}

#sliderimgsmall img{
width: 40%;

}

/* 
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}





/* .......................................slider css end .......................................*/

/* .......................................gallery slider css start .......................................*/


#slider{

	width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }


}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite; 

}




/* .......................................gallery slider css end .......................................*/


/* .......................................css reset .......................................*/

/* ...................................... hover effects......................................... */	
.fa-cube, .fa-gift, .fa-envelope, .fa-arrows-h, .fa-tree, .fa-gbp, .fa-tint, .fa-cutlery, #backtop{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.fa-cube:hover, .fa-cube:focus, .fa-cube:active, .fa-gift:hover, .fa-gift:focus, .fa-gift:active, .fa-gbp:hover, .fa-gbp:focus, .fa-gbp:active, .fa-envelope:hover, .fa-envelope:focus, .fa-envelope:active, .fa-arrows-h:hover, .fa-arrows-h:focus, .fa-arrows-h:active, .fa-tree:hover, .fa-tree:focus, .fa-tree:active, .fa-tint:hover, .fa-tint:focus, .fa-tint:active, .fa-cutlery:hover, .fa-cutlery:focus, .fa-cutlery:active, #backtop:hover, #backtop:focus, #backtop:active{
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}	



/* ...................................... hover effects......................................... */
/* ...................................... Back to top......................................... */		

#backtop{
	background-color:#1eb3fe;
	text-align:center;
	padding:20px;
	width:20px;
	margin:auto;
	cursor:pointer;
	margin-top:40px;
	color:white;
}

/* ......................................  Back to top......................................... */	
/* .......................................css Body .......................................*/

html, body{
	font-family: 'lato-regular', sans-serif;
	background:#ffffff;
	margin:0;
	padding:0;
	background-color:#f2f2f2; /* background color */	
}


h2,h3,h4,h5,h6{
	font-family: 'lato-regular', sans-serif;
	margin:0;
	letter-spacing: 1px;
}
	
h1{
	font-family: 'p22_corinthia', sans-serif;
	font-weight:100;
	margin:0;
}

body a{
	text-decoration:none;
	color:white;
}
/* .......................................css Body .......................................*/
/* .......................................css Header .......................................*/

.max-width-view{
	width:100%; /* changed from 1024px */
	margin:auto;
	max-width:1600px; /* effects max width of background image */

}

.header-holder{
	width:100%;
	max-height:500px;
	overflow:hidden;
	border-bottom: 5px solid black;
	margin-bottom:20px;
	
	
	
}

 
#beech_board .header, #acherry_board .header, #echerry_board .header, #ash_board .header, #oak_board .header, #walnut_board .header, #zchair04 .header, #frames01 .header, #benches01 .header, #home-page .header, #boards-page .header, #zchair01 .header, #zchair02 .header, #zchair03 .header, #box-page .header, #accessories-page .header, #oboard-page .header, #furniture-page .header, #about-page .header, #contact-page .header, #footstool01 .header, #about-bespoke-page .header, #about-chopping-boards-page .header, #gallery-page .header{
    background-repeat: no-repeat;
    width:100%;
    height: 0;
    padding-top:40.64%;
    margin:auto;
    background-size: auto 100px;
}
 
#about-page .header{
	background: url(../images/abouttopbannerr.jpg);
    background-size: cover;
    background-position: center;
    
}

#home-page .header{
	background: url(../images/chair-main.jpg);
    background-size: cover;
    background-position: center;
    
}

#boards-page .header{
	background: url(../images/boardslong.jpg);
    background-size: cover;
    background-position: center;
}


#furniture-page .header{
	background: url(../images/furniturelong.jpg);
    background-size: cover;
    background-position: center;
}

#zchair01 .header{
	background: url(../images/furniturelong2.jpg);
    background-size: cover;
    background-position: center;
}

#zchair02 .header{
	background: url(../images/furniturelong.jpg);
    background-size: cover;
    background-position: center;
}

#zchair03 .header{
	background: url(../images/furniturelong3.jpg);
    background-size: cover;
    background-position: center;
}
#zchair04 .header{
	background: url(../images/zchairheader.jpg);
    background-size: cover;
    background-position: center;
}
#footstool01 .header{
	background: url(../images/footstoolheader.jpg);
    background-size: cover;
    background-position: center;
}

#benches01 .header{
	background: url(../images/benchheader.jpg);
    background-size: cover;
    background-position: center;
}

#frames01 .header{
	background: url(../images/frameheader.jpg);
    background-size: cover;
    background-position: center;
}
#box-page .header{
	background: url(../images/watchlong.jpg);
	background-size: cover;
	background-position: center;
}

#accessories-page .header{
	background: url(../images/accessories.jpg);
	background-size: cover;
	background-position: center;
}


#contact-page .header{
	background: url(../images/5.jpg);
    background-size: cover;
}



#oboard-page .header{
	background: url(../images/onionlong.jpg);
    background-size: cover;
}

#about-bespoke-page .header{
	background: url(../images/about-bespoke.jpg);
	background-size: cover;
	background-position: center;
}

#about-chopping-boards-page .header{
	background: url(../images/about-chopping-boards-page.jpg);
	background-size: cover;
	background-position: center;
}

#gallery-page .header{
	background: url(../images/5.jpg);
	background-size: cover;
	background-position: center;
}


#contact-page .banner{
	color: grey;
}

#walnut_board .header{
	background: url(../images/front/boards/headers/walnut.jpg);
    background-size: cover;
}

#oak_board .header{
	background: url(../images/front/boards/headers/oak.jpg);
    background-size: cover;
}

#ash_board .header{
	background: url(../images/front/boards/headers/ash.jpg);
    background-size: cover;
}

#echerry_board .header{
	background: url(../images/front/boards/headers/echerry.jpg);
    background-size: cover;
}

#acherry_board .header{
	background: url(../images/front/boards/headers/acherry.jpg);
    background-size: cover;
}

#beech_board .header{
	background: url(../images/front/boards/headers/ash.jpg);
    background-size: cover;
}





.navigation{
	max-width: 1600px;
	position: fixed;
	left: 0px;
	right: 0px;
	margin:auto;
	height:80px;
	background-color:rgba(0, 0, 0, 0.9);
	z-index:1000;


}

.navigation ul{
    list-style: none;
    float: right;
    margin: 0;
    width: 100%;
    max-width: 1600px;
}

.navigation ul li{
 	float: right;
	padding-left:10px;
	padding-right:10px;
    line-height: 80px;   
}

.navigation ul li form{
	margin-top:4px;
	
}

.navigation ul li form input[alt]{
	font-family: 'lato-regular', sans-serif;
	color:white;
	font-size:1em;

}




/* .......................................index page........................................*/

#skinner{
	float:left;
	vertical-align:center;
	padding-left:30px;
	padding-top:5px;
	height:100%;
}

#skinner a{
	font-family:p22_corinthia;
	font-weight:100;
	font-size:60px;
	line-height: 80px; 
}


.banner{
	color: white;
	margin-left: auto;
	margin-right: auto;
    width: 100%;
	text-align:center;
	float:left;  
	margin-top:auto;
	margin-bottom:auto;
	padding-top:40px;
}

.banner h1{
margin-top:0.6em;
	font-weight:100;
	font-size: calc(170px + 3vw);
	text-shadow: 2px 2px 20px #666666;
}

.banner h2{
	margin-top:-1em;
	font-size: calc(20px + 0.3vw);
	text-shadow: 2px 2px 20px #666666;
}


/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}



.image-grid{
    margin: auto;
    width: 90%;
    max-width:1000px;


}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
      margin: auto;
    width: 100%;



}

.image-text{
padding-top:5px;
padding-bottom:5px;
width:100%;
background-color:black;
color:white;
margin-top:10px;
margin-bottom:0px;
text-align:center;
font-family: 'lato-regular';
font-size:1em;
line-height:1.3em;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 24%;
  padding: 0 4px;
  
}

.column img{
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 891px) {
  .column {
    flex: 48%;
    max-width: 48%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}


.instagramgallery {
	width:100%;
	max-width:1000px;
	margin: auto;
	 text-align: center;
	 padding-left:10px;
	 padding-right:10px;
}
/* ...................................... index page end......................................... */





/* .......................................End Header........................................*/

/* .......................................Blue made to order bar......................................... */
.title-banners{
	margin-top:10px;
	width:100%;
	max-width:1010px;
	height:30px;
	background-color:black;
	margin:auto;
	padding-top:10px;
	color:white;
	margin-top:40px;
	margin-bottom:10px;
	font-size:20px;
	text-align:center;
	margin-bottom:25px;
}




/* .......................................products hover code......................................... */



/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}






/* .......................................products......................................... */
.products{
	text-align: center;	
	max-width:1200px;
	margin:auto;
}


.product_holder{ 
	width:26.5%;
	margin:10px;	
	display: inline-block;
	vertical-align:top;
}


.product{
	width:100%;

}


.product_bs{
	box-shadow: 0px 0px 10px #ccc;
	height:100%;
}

.product img{
	width:100%;
	height:100%;	
}




.product_lable{
	position:absolute;
	margin-top:-50px;
	margin-right:5px;
	font-size:20px;
	background-color:white;
	padding-top:6px;
	padding-bottom:5px;
	padding-left:8px;
	padding-right:10px;
	font-family: 'lato-bold', sans-serif;
}

.newitem{
	background-color:black;
	color:white;
}

.solditem{
	background-color:black;
	color:white;
}

.orderitem{
	background-color:#0f8ebd;
	color:white;
}


.product_info{
	width:100%;
	background-color:white;
	margin-top:-2px;
	margin-top:-2px;
}

.product_wood_type{
	font-size:16px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	margin-bottom:10px;
	color:#535151;
	font-family: 'Montserrat', sans-serif;
	text-align:left;
	line-height:130%;
}


.product_type{
	font-size:13px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	color:#7f7f7f;
	font-family: 'Montserrat', sans-serif;
	line-height:120%;
	text-align:left;
}

.product_size{
	font-size:13px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	color:#7f7f7f;
	font-family: 'Montserrat', sans-serif;
	line-height:120%;
	text-align:left;
}


#productwide1{ 
	width:83.5%;
	margin:auto;	
}





#instock{
	margin-top:10px;
}


#product-approximate{
font-size:14px;
font-style:italic;
}



/* .......................................Product Single......................................... */


.imgcontainer{
	margin:auto;
	width:100%;
	max-width:1100px;
	text-align:center;
	margin-top:10px;
	margin-bottom:0px;
}

.imgwrap{
	display:inline-block;
	height:100%;
	width:40%;
	overflow:hidden;
	text-align:center;
}

.imgwrap img{
	width:100%;
	padding:10px;	
}



.aboutboard{
	margin-top:10px;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#f2f2f2;
}

#aboutchair{
	padding-top:50px;
}

.aboutboard h2{
	font-size:23px;
	padding-bottom:40px;
	height:30px;

}

.aboutboard p{
	max-width:700px;
	padding-left:30px;
	padding-right:30px;
	margin:auto;
	margin-top:10px;
}

.aboutboard a{
	color:#27b2e8;

}

.aboutboard a:hover{
	color:red;

}

#product-number{
	margin-top:30px;
}

.paypal{
	text-align:center;
	padding-top:50px;	
	
	
}

table{
	width:100px;
	margin:auto;
	margin-top:25px;
	margin-bottom:25px;
}


.paypal {

  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.paypal:hover, .paypal:focus, .paypal:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* .......................................Products Single......................................... */
/* ....................................... Lightbox......................................... */





/* ....................................... Lightbox ends ......................................... */

.column p{
color:white;
line-height:50px;
    font-family: 'lato-bold';
}


/* ...................................... About Page......................................... */


		
.aboutinfo a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.aboutinfo a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.aboutinfo a:hover, .aboutinfo a:focus, .aboutinfo a:active {
  color: white;
}
.aboutinfo a:hover:before, .aboutinfo a:focus:before, .aboutinfo a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.about-banner ul{
	padding-bottom:30px;
	padding-top:30px;
	width:100%;
	background-color:#f2f2f2;
	text-align:center;
	max-width:1000px;
	margin:auto;	

	
}

.about-banner li{
	width:20%;
	/* margin-left:1em; */
	/* margin-right:1em; */
	display:inline-block;
	color:#878787;
	height:150px;	
	vertical-align:top;
	font-size:15px;
	
}

		
.about-banner p{
	padding-top:15px;
	height:30px;
	padding-left:10px;
	padding-right:10px;	
}

/* 
.fa-gift, .fa-envelope, .fa-arrows-h, .fa-tree, .fa-gbp, .fa-cube, .fa-tint, .fa-cutlery{
	color:#d7333b;
	font-size:40px;
	border-radius:200px;	
	border:1px solid #d7333b;
	background-color:#f2f2f2;
	padding-top:35px;
	padding-left:15px;
	padding-right:15px;
	height:75px;
	width:50px;
}
 */

/* 
.about-banner .fa-gift, .about-banner .fa-envelope, .about-banner .fa-arrows-h, .about-banner .fa-tree, .about-banner .fa-cube, .about-banner .fa-gbp{font-size:40px;}
 */

.about-section{
	width:100%;
	margin:auto;

}

.about-section img{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	display: block;
	margin-top:10px;
	position: relative; 
}


.instagram{
max-width:1000px;
margin:auto;
  display: flex;
  flex-wrap: wrap;


}

.insta-left{
 flex: 1 300px;
  min-width: 0;
  padding: 15px 10px;


}

.insta-right{

 flex: 1 300px;
  min-width: 0;
  padding: 15px 10px;

}


/* .......................................About end......................................... */
/* ...................................... Contact......................................... */

#contact-background{width:100%;}

.contact-info{
	width:95%;
	text-align:center;
	max-width:1000px;
	margin:auto;
	margin-top:30px;
	padding-bottom:20px;
}

.contact-info-block{
	
	width:333px;
	height:333px;	
	display:inline-block;
	border:0px;
	margin:-2px;
	padding:0;
}

#block1, #block3, #block5, #block7{
	background-size: 333px 333px;
    background-repeat: no-repeat;

}

#block1{
	background-image: url("../images/about5.jpg");

    
}

#block1:hover, #block2:hover, #block3:hover, #block4:hover, #block5:hover, #block6:hover, #block7:hover, #block8:hover, #block9:hover, #block10:hover, #block11:hover, #block12:hover{
position:relative;
	z-index:100;
}

#block2{
	background-color:#ff6666;
	text-align:center;
}

#block3{

	background-image: url("../images/about3.jpg");

}

#block4{
	background-color:#1eb3fe;
}

#block5{
	background-color:green;
	background-image: url("../images/about2.jpg"); /* mid */

}

#block6{
	background-color:#ffcc66;
	
}

#block7{
	background-color:blue;
	background-image: url("../images/about7.jpg");
}

#block8{
	background-color:#00ff80;
	
}

#block9{
	background-color:green;
	background-image: url("../images/about4.jpg");
}

#block10{
	background-color:grey;
}
#block11{
	background-color:yellow;
	background-image: url("../images/about11.jpg");
}
#block12{
	background-color:red;
	background-image: url("../images/about12.jpg");
}


#block1, #block3, #block5, #block7, #block9, #block11, #block12{
	background-size: 333px 333px;
    background-repeat: no-repeat;
	
}

#letter, #rss, #location, #facebook{
	border:white solid 3px;
	border-radius:200px;
	color:white;
	padding:20px;
	font-size:50px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25%;
	width:100px;

}

.contact-info-block h3{

	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
	color:white;
	padding-top:25px;
	
}

#etsy{

	font-family: "Times New Roman", Georgia, Serif;
	font-size:65px;
	border:white solid 3px;
	border-radius:200px;
	width:120px;
	padding:10px;
	margin-left:auto;
	margin-right:auto;
margin-top:25%;
	color:white;	
}

/* ...................................... Contact End......................................... */

/* ...................................... About Pages Start......................................... */

.aboutcontainerdiv{
	margin:auto;
	width:100%;
	max-width:976px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:white;
	box-shadow: 0px 0px 2px #ccc;

}

.aboutcontainerdiv h3{
	color:#535050;
	padding-top:10px;
	text-align:center;
}


#one{
    float: left;
    width:66%;
    margin-right:10px;
    box-shadow: 0px 0px 2px #ccc;
    
    
}

.aboutcontainerdiv p{
     padding:10px;
     text-align:center;
     vertical-align:middle;
     color:#7e7f7e; 
     margin-left:10px;  
     margin-right:10px; 
     line-height:110%;
}


.find_out_more{
	color:#12ade6; 
	font-size:100%;
}

.first-word{
	font-weight:bold;
}

/* .......................................Footer........................................*/
footer{
	margin-top:30px;
	width:100%;
	text-align:center;
}

/* .......................................Copyright......................................... */


.copyright{
	margin:auto;
	padding-top:10px;
	color:black;
	margin-top:10px;
	margin-bottom:70px;
	font-size:14px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}


/* .......................................End Footer........................................*/

/* ...................................... About Pages End......................................... */

.footerlinks{
	margin:auto;
	width:90%;
	text-align: center;
	margin-top:60px;
}

.footerlinks p{
	margin-bottom:10px;

}

.footerlinks a{
	display:inline-block;
	color:black;
	margin-left:10px;
	
}

.footerlinks a:hover{
	color:grey;
}

/* ...................................... Media Queries Start......................................... */


@media screen and (max-width:1045px) {/* ...................................... 600 */

	#block9, #block12{
	display:none;
}

#letter, #rss, #location, #facebook, #etsy{
margin-top:26%;

}
}

@media screen and (max-width:1010px) {/* ...................................... 894 */


}



@media screen and (max-width:1000px) {/* ...................................... 1500 */

.banner h1{
	font-size: 20vw;	
}

.banner h2{
	margin-top:-1em;
	font-size: 2.2vw;
}

#newitemarrived{
	font-size: 2.2vw;
}

#wideproduct{
	width: 640px;
    height:640px;
    margin:0px;
    display:inline-block;
    vertical-align: text-top;	
    margin-top:20px;
}



}



@media screen and (max-width:900px) {/* ...................................... 600 */

.product_holder{ 
	width:45%;
	margin:15px;	
}

#about-page .product_holder{ 
	width:80%;
	margin:15px;	
}

#gallery-page .product_holder{ 
	width:80%;
	margin:15px;	
}

#productwide1{ 
	width:80%;
	margin:auto;	
}


.mainpageinfo {
	width:94%;

 	
}



}



@media screen and (max-width:750px) {/* ...................................... 600 */


#pageinfo1, #pageinfo2{
  	top: 45%;

}


}

@media screen and (max-width:708px) {/* ......................................708 */



.triangle{
	display:none;
}

.underline-option{
	text-decoration:underline;
	
}

#wideproduct{
	width: 500px;
    height:500px;
}
}

@media screen and (max-width:695px) {/* ......................................708 */

.contact-info-block{
	
	width:250px;
	height:250px;	
	display:inline-block;

}

#block1, #block3, #block5, #block7{
	background-size: 250px 250px;
    background-repeat: no-repeat;

}

#letter, #rss, #location, #facebook, #etsy{
margin-top:22%;

}


}


@media screen and (max-width:632px) {/* ...................................... 600 */

.product_holder{ 
	width:75%;
	margin:15px;	
}

}
@media screen and (max-width:600px) {/* ...................................... 600 */

/* .......................................sub nav .......................................*/


#skinner a{

	font-size:40px;
}


/* .......................................about banner .......................................*/

/* 
.about-banner .fa-gift,.about-banner .fa-envelope,.about-banner .fa-arrows-h,.about-banner .fa-tree{font-size:35px;}
 */

.about-banner ul{
margin-bottom:-20px;
	padding-bottom:0px;
	padding-top:20px;
	
}

.about-banner li{
	width:20%;
	height:140px;	/* height of red bits */
	font-size:12px; /* caption font size */
}
		
.about-banner p{
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;	
}

/* 
.fa-gift, .fa-envelope, .fa-arrows-h, .fa-tree, .fa-gbp, .fa-cube, .fa-tint, .fa-cutlery{
	border-radius:100px;	
	padding-top:20px;
	padding-bottom:15px;
	padding-left:10px;
	padding-right:10px;
	height:40px;
	width:40px;
}
 */
	
/* .......................................css product images .......................................*/
#wideproduct{
	width: 450px;
    height:450px;	
}


.imgwrap{
	height:100%;
	width:90%;
}




/* .......................................skinner banner .......................................*/


}

@media screen and (max-width:570px) {/* ......................................643 */

#pageinfo1, #pageinfo2{
	width:80%;
  	top: 45%;
}

@media screen and (max-width:530px) {/* ...................................... 519 */

#skinner a{
 display:none;
}

#skinner{
 display:none;
}

.navigation ul{

 list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
}

.navigation ul li{

height:60px;
line-height:60px;

}
.navigation{
	height:60px;
}



}
	

}
@media screen and (max-width:523px) {/* ...................................... 519 */

.contact-info-block{
	width:280px;
	height:280px;	


}

#block1, #block3, #block5, #block7{
	background-size: 280px 280px;

}

#letter, #rss, #location, #facebook, #etsy{
	margin-top:22%;
}

	#block1, #block3, #block5, #block7, #block9, #block11{
	display:none;
}


}


@media screen and (max-width:519px) {/* ...................................... 519 */



/* .......................................css product images .......................................*/
#wideproduct{
	width: 400px;
    height:400px;

}


	
}
@media screen and (max-width:499px) {/* ...................................... 499 */

/* .......................................css Header .......................................*/

.banner h2{
	margin-top:-2em;

}


}
@media screen and (min-width:451px) {/* ...................................... 450 */





}

@media screen and (max-width:450px) {/* ...................................... 450 */

/* .......................................css Header .......................................*/

.navigation ul li{
font-size:10px;
}




#home-page .header, #boards-page .header, #zchair01 .header, #zchair02 .header, #zchair03 .header, #box-page .header, #accessories-page .header, #oboard-page .header, #furniture-page .header, #about-page .header, #contact-page .header, #footstool01 .header, #about-bespoke-page .header, #about-chopping-boards-page .header, #gallery-page .header{
    padding-top:132.64%;
}


.mainpageinfo {
	font-size:12px;
}








/* .......................................skinner banner .......................................*/

.banner h1{

	font-size: 35vw;	
}

.banner h2{
	margin-top:-1em;
	font-size: 4.6vw;
}

#newitemarrived{

	font-size: 4.6vw;
}

/* .......................................css product images .......................................*/
#wideproduct{
	width: 350px;
    height:350px;
	

}






}

@media screen and (max-width:400px) {/* ...................................... 400 */


.sub-nav li{
	text-align:center;
	display:inline-block;
	margin:5px;
	font-family:lato-regular;
	font-weight:100;
	font-size:0.9em;
	height:15px;


}
.navigation ul li{
font-size:12px;
}


/* .......................................css product images .......................................*/
#wideproduct{
	width: 280px;
    height:280px;
	
}
/* .......................................css about banner .......................................*/


.about-banner ul li p{
	font-size:10px;


}
.about-banner{
	height:100px;
		margin-bottom:60px;

}

/* .......................................header .......................................*/


#home-page .header, #boards-page .header, #zchair01 .header, #zchair02 .header, #zchair03 .header, #box-page .header, #accessories-page .header, #oboard-page .header, #furniture-page .header, #about-page .header, #contact-page .header, #footstool01 .header, #about-bespoke-page .header, #about-chopping-boards-page .header, #gallery-page .header{
    height: 0;
    padding-top:175.64%;
}
	
/* .......................................skinner banner .......................................*/

.banner h1{

	font-size: 30vw;	
}

.banner h2{
	font-size: 4.4vw;
}

#newitemarrived{
	font-size: 4.4vw;
}

/* .......................................sub nav .......................................*/
	
	


#block1, #block3, #block5, #block7{
	background-size: 333px 333px;
    background-repeat: no-repeat;

}
	

}
@media screen and (max-width:350px){
.navigation ul li{
font-size:10px;
}
}
@media screen and (max-width:320px) {/* ...................................... 320 */

/* .......................................nav bar .......................................*/





/* 
.fa-gift, .fa-envelope, .fa-arrows-h, .fa-tree, .fa-gbp, .fa-cube, .fa-tint, .fa-cutlery{
	border-radius:100px;	
	padding-top:15px;
	padding-bottom:6px;
	padding-left:5px;
	padding-right:5px;
	height:40px;
	width:40px;
}
 */

/* 
.about-banner .fa-gift, .about-banner .fa-envelope, .about-banner .fa-arrows-h, .about-banner .fa-tree, .about-banner .fa-cube, .about-banner .fa-gbp{font-size:30px;}
 */


}

@media print {
  body {
  color: #000;
  background: #fff;
  }
}


/* ...................................... Media Queries End......................................... */


